<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css">
		<link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="css/mystyle.css">
        <title>Login - NHMP</title>
    </head>

    <body> -->
        <!-- Main Content -->
        <%- include ("./partials/header") %>
        <div class="container-fluid">
            <div class="row main-content bg-success text-center">
                <div class="text-center company__info" style="vertical-align: middle;";">
                    <span class="company__logo"><h2><br></span></h2></span>
                    <h4 class="company_title"><img src = "logo.jpg" ></h4>
                    <span class="company__logo"><h2><br></span></h2></span>
                </div>
                <div class="login_form ">
                    <div class="container-fluid">
                        <div class="row-title">
                            <h2>Log In</h2>
                            <!-- <h4>Inventory Manager</h4> -->
                        </div>
                        <div class="row">
                            <form action="/login" method="POST" style="margin-top: 4em;">
                                <div class="row">
                                    <input type="text" name="username" id="username" class="form__input" placeholder="Username" required>
                                </div>
                                <div class="row">
                                    <!-- <span class="fa fa-lock"></span> -->
                                    <input type="password" name="password" id="password" class="form__input" placeholder="Password" required>
                                </div>
                                <div class="row" style="text-align: center;">
                                    <button class="btn btn-outline-primary">Log In</button>
                                    <!-- onClick="location.href='index.html'" -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("./partials/footer") %>
    <!-- </body>
</html> -->
<!-- <script>
    function myFunction() {
        console.log("index")
        if(document.getElementById("username").value == "manager"){
            window.location.href = "index.html";
            console.log("index")
        }else{
            window.location.href = "requestAccept.html";
        }
    }
</script> -->